body {
	margin: 0px;
	-webkit-user-select: none;
}


#container{
	height: 356px;
	width: 320px;
	background-color: rgba(56,108,179, 0.5);
	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
	-moz-perspective: 600;
	-webkit-perspective: 600;
}

.card, .card_flipped {
	position: absolute;
	height: 300px;
	width: 200px;
	left: 60px;
	top: 28px;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	
	-webit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;

	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
}

.card_flipped{
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.face {
	position: absolute;
	height: 300px;
	width: 200px;
	border-radius: 10px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}

.face > p {
	margin-top: 36px;
	margin-bottom: 0;
	text-align: center;
	font-size: 92px;
}

.orange{
	background-color: orange;
}

.front {
	color: rgb(78,150,249);
	background-color: rgb(34,65,108);
}

.back {
	color: rgb(34,65,108);
	background-color: rgba(78,150,249,0.5);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
output{
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}